* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url("../fonts/ProximaNova-SemiboldIt.eot");
  src: url("../fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  font-family: 'Proxima Nova Semibold Italic', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  background-color: #fff;
  padding: 19px 22px 16px;
  font-size: 12px;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold Italic', sans-serif;
}

.button-o:hover {
  cursor: pointer;
}

.button {
  background-color: #507fe1;
  padding: 25px 45px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button-fitting {
  color: #507fe1;
  background-color: #fff;
}

.button-add {
  background-color: #7c9fe8;
  color: #fff;
}

.button-like {
  color: #fff;
  background-color: #507fe1;
  padding: 8px 9px;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 80px;
  width: 100%;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;
}

.checkbox:checked + label:before {
  content: '';
  background-color: #507fe1;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox__label:hover {
  cursor: pointer;
}

.checkbox__label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.navbar {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Proxima Nova Semibold Italic', sans-serif;
  color: #262626;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 5px;
}

.navbar__small-text {
  color: #7b7b79;
  font-size: 14px;
}

.navbar__email {
  text-decoration: none;
  margin-bottom: 5px;
}

.menu {
  z-index: 0;
  position: fixed;
  top: 80px;
  left: 0;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.menu_active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button__line {
  height: 3px;
  width: 20px;
  background-color: #5482e2;
  display: block;
  margin-bottom: 3px;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 17px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px;
  color: #262626;
  font-family: 'Proxima Nova Semibold Italic', sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat left 60px top 80px;
  background-size: contain;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

.hero-title {
  font-size: 30px;
  color: #262626;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  color: #121212;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Proxima Nova Semibold Italic', sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 30%;
  }
}

.offer {
  padding: 129px 0;
}

.offer-block {
  background: #fff url("../img/offer/offer-bg.jpg") no-repeat center right;
  background-size: contain;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -150px;
}

.offer__title {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold Italic', sans-serif;
  margin-bottom: 20px;
}

.offer-subtitle {
  display: block;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 40px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: none;
}

.form__label {
  display: block;
  font-size: 17px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.form__input {
  width: 100%;
}

.form__button {
  height: 80px;
  width: 100%;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}

@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .offer .form__input {
    margin-bottom: 20px;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.catalog {
  background-color: #f1f1f1;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-card {
  max-width: 570px;
  position: relative;
  margin-bottom: 30px;
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card__button {
  padding: 10px;
  text-transform: uppercase;
  border: none;
  font-size: 11px;
  height: 30px;
  cursor: pointer;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #507fe1;
  opacity: .7;
  padding: 10px;
}

.catalog-card__image {
  display: block;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1199px) {
  .catalog-card {
    max-width: 470px;
  }
}

@media (max-width: 991px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */