.hero
  background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat center top
  background-size: contain
  padding-top: 120px
  padding-bottom: 270px
  margin-top: 80px
  &-title
    font-size: 30px
    color: $text-color
    margin-bottom: 40px
    
  &__subtitle
    display: block
    color: #121212
    margin-bottom: 67px
    font-size: 30px
    font-weight: 700
    +bold
  
@media (max-width: 991px)
  .hero
    background-size: 100%
    background-position: top right
 
    